sudo: false

language: php

dist: trusty

matrix:
  fast_finish: true
  include:
    - php: 7.2
      env:
        - TYPO3_VERSION=typo3/cms-core:^9.5
        - ANALYSIS='true'
    - php: 7.2
      env:
        - TYPO3_VERSION=typo3/cms:^8.7
        - PHP_UNIT_OPTIONS=--process-isolation
    - php: 7.1
      env:
        - TYPO3_VERSION=typo3/cms:^8.7
        - PHP_UNIT_OPTIONS=--process-isolation
    - php: 7.0
      env:
        - TYPO3_VERSION=typo3/cms:^8.7
        - PHP_UNIT_OPTIONS=--process-isolation

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - if [[ "$ANALYSIS" != 'true' ]]; then if php -i | grep -q xdebug; then phpenv config-rm xdebug.ini; fi; fi
  - composer self-update
  - composer --version

before_script:
  - composer require --dev "$TYPO3_VERSION"
  - export typo3DatabaseName=typo3
  - export typo3DatabaseHost=localhost
  - export typo3DatabaseUsername=root
  - export typo3DatabasePassword=

script:
  - find . -name \*.php ! -path "./.build/*" -exec php -l {} >/dev/null \;
  - if [[ "$ANALYSIS" != 'true' ]]; then .build/vendor/bin/phpunit $PHP_UNIT_OPTIONS -c FunctionalTests.xml ; fi
  - if [[ "$ANALYSIS" == 'true' ]]; then .build/vendor/bin/phpunit $PHP_UNIT_OPTIONS -c FunctionalTests.xml --coverage-text --coverage-clover clover.xml ; fi

after_success:
  - if [[ "$ANALYSIS" == 'true' ]]; then travis_retry .build/vendor/bin/php-coveralls -v ; fi
