{namespace qbtools=Qbus\Qbtools\ViewHelpers}
<div class="qbtools-mailform-notification">
	<div class="alert alert-success" data-status="success" style="display: none">
		Ihre Nachricht wurde erfolgreich versendet.
	</div>
	<div class="alert alert-danger" data-status="fields-missing" style="display: none">
		Die mit * gekennzeichneten Felder müssen korrekt ausgefüllt werden.
	</div>
	<div class="alert alert-danger" data-status="error" style="display: none">
		Ihre E-Mail konnte nicht versendet werden. Es ist ein interner Fehler aufgetreten.
	</div>
</div>

<div class="form-group">
	<label for="{qbmailformid}-salutation">Anrede</label>
	<f:form.select name="salutation" id="{qbmailformid}-salutation" class="form-control" options="{m: 'Herr', f: 'Frau'}"/>
</div>
<div class="form-group">
	<label for="{qbmailformid}-firstname">Vorname</label>
	<f:form.textfield name="firstname" required="true" id="{qbmailformid}-firstname" class="form-control" placeholder="Vorname *" />
</div>
<div class="form-group">
	<label for="{qbmailformid}-lastname">Nachname</label>
	<f:form.textfield name="lastname" required="true" id="{qbmailformid}-lastname" class="form-control" placeholder="Nachname *"/>
</div>
<div class="form-group">
	<label for="{qbmailformid}-street">Straße</label>
	<f:form.textfield name="street" id="{qbmailformid}-street" class="form-control" placeholder="Straße" />
</div>
<div class="form-group">
	<label for="{qbmailformid}-postalcode">PLZ</label>
	<f:form.textfield name="postalcode" id="{qbmailformid}-postalcode" class="form-control" placeholder="PLZ" />
</div>
<div class="form-group">
	<label for="{qbmailformid}-city">Ort</label>
	<f:form.textfield name="city" id="{qbmailformid}-city" class="form-control" placeholder="Ort" />
</div>
<div class="form-group">
	<label for="{qbmailformid}-phone">Telefonnummer</label>
	<f:form.textfield name="phone" id="{qbmailformid}-phone" class="form-control" placeholder="Telefonnummer"/>
</div>
<div class="form-group">
	<label for="{qbmailformid}-email">E-Mail Adresse</label>
	<f:form.textfield name="email" type="email" required="true" id="{qbmailformid}-email" class="form-control" placeholder="E-Mail Adresse *"/>
</div>
<div class="form-group">
	<label for="{qbmailformid}-website">Website</label>
	<f:form.textfield name="website" type="url" id="{qbmailformid}-website" class="form-control" placeholder="http://"/>
</div>

<div class="form-group">
	<label for="{qbmailformid}-message">Ihr Anliegen *</label>
	<f:form.textarea name="message" id="{qbmailformid}-message" class="form-control" rows="5" additionalAttributes="{required:'required'}"/>
</div>
<f:form.submit class="btn btn-default" value="Anfrage absenden"/>
<div>Felder mit * müssen ausgefüllt werden</div>
